.pricing{
	text-align:center;
}
.pricing p{
	color:blue;
	}
.pricing h1{
	color:#061e66;
}
.row{
	padding:2rem;
}
.card{
	padding:2rem;
	width:100%;
	align-items:center;
	margin:auto;
	box-shadow:0 0 12px #8888884a;
	text-align:center;
}
.card p{
	font-size:1.5rem;
	color:aqua;
	
}
.card h3{
	
	color:red;
}
.card sub{
	font-size:1.7rem;
	color:black;
	font-weight:700;
	
}
.card span{
	font-size:1.2rem;
	color:gray;
	
}
.card img{
	width:100%;
}
ul li {
	list-style:none;
	margin-top:1.5rem;
	text-align:center;
}
a{
	text-decoration:none;
	width:70%;
	height:3%;
	padding:.7rem;
	margin-top:2rem;
	display:inline;
	border:1px solid blue;
	border-radius:2rem;