.pricing{
	text-align:center;
}
.pricing p{
	color:blue;
	}
.pricing h1{
	color:#061e66;
}
.row{
	padding:2rem;
}
.card{
	border:none;
}
.card p{
	font-size:1.5rem;
	color:aqua;
	
}

.card sub{
	font-size:1.7rem;
	color:black;
	font-weight:700;

	
}
.card span{
	font-size:1.2rem;
	color:gray;
	
}
ul li {
	list-style:none;
	margin-top:1rem;
}
