*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	width:85%;
	margin:auto;
	box-sizing:border-box;	
}
.happy{
	width:100%;
	padding-top:3rem;
	padding-bottom:2rem;
	background-color:#f5f9fc;

}
.client{
	width:100%;
	
}
.project{
	width:100%;
	padding:2rem;
	margin-bottom:2rem;
	text-align:center;
	box-shadow: 0 0 15px rgb(0 0 0 / 10%);
	background-color:white;
}
.project h2{
	font-size:3rem;
	font-weight:700;
	font-family:none;
	color:#1c5c93;
}
.project p{
	font-size:1rem;
	margin-top:1rem;
}

@media(min-width:768px){
	.happy{
		width:100%;
	}
	.happy{
	width:100%;
	/* padding:3rem; */
	background-color:#f5f9fc;
	}
	.client{
	width:100%;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	}
	.project{
	width:48%;
	/* padding:2rem; */
	text-align:center;
	box-shadow: 0 0 15px rgb(0 0 0 / 10%);
	background-color:white;
	}
}
@media(min-width:1024px){
	.happy{
		width:100%;
	}
	.happy{
	width:100%;
	padding-top:3rem;
	background-color:#f5f9fc;
	}
	.client{
	width:100%;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	}
	.project{
	width:24%;
	text-align:center;
	box-shadow: 0 0 15px rgb(0 0 0 / 10%);
	background-color:white;
	}
}