.header{
	text-align:center;
	margin-top:3rem;
}
.header p{
	color:blue;
}
.header h3{
	font-size:2.3rem;
	color:#061e66;
}
.row{
	margin-top:20px;
}
.card-body h5{
	color:#00185a;
}
.card-body p{
	color:#7d6868;
}
.col img{
	width:100%;
}
.col iconify-icon{
	font-size:1rem;
	color:blue;
	background-color:skyblue;
}
.col p{
		font-size:1	rem;
}