.header{
	text-align:center;
	margin-top:3rem;
}
.header p{
	color:blue;
}
.header h3{
	font-size:2.3rem;
	color:#061e66;
}
.row{
	margin-top:20px;
}
.card-body h5{
	color:#00185a;
}
.card-body p{
	color:#7d6868;
}